.bbusyeoraToday_full {
  padding: 1%;

  outline: 3px solid black;
}

.bbusyeoraToday_full_container {
  padding: 0.5%;

  outline: 3px solid grey;
}

.bbusyeoraToday_title {
  font-size: 20px;
  color: red;
  margin: 0.5%;
  padding : 0.5%;
  font-weight: bold;
  
  outline: 3px solid blue;
}

.bbusyeoraToday_inner {
  display: block;
  margin: 0.5%;
  font-size: 0;
  
  outline: 3px solid blue;
}

.bbusyeoraToday {
  padding: 0.5%;
  margin: 2%;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 15px;
  width: 46%;
  height: 150px;

  outline: 3px solid red;
}

.bbusyeoraToday_moreRead_container {
  display: block;
  margin: 0.5%;
  padding: 0.5%;
  outline: 3px solid blue;
}

.bbusyeoraToday_moreRead {
  text-align: center;
  box-sizing: border-box;
  font-size: 50%;
  margin: 0 45%;
  cursor: pointer;

  outline: 3px solid red;
}