.myProfileBbusyeora_full {
  padding: 0.5%;
  outline: 3px solid black;
}

.myProfileBbusyeora_container {
  padding: 0.5%;
  outline: 3px solid grey;
}

.myProfileBbusyeora_title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding : 1%;
  outline: 3px solid blue;
}

.myProfileBbusyeora_inner {
  display: block;
  font-size: 0;

  outline: 3px solid blue;
}

.myProfileBbusyeora {
  padding: 0.5%;
  margin: 3%;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 15px;
  width: 27.3%;
  height: 400px;

  outline: 3px solid red;
}