.profileEdit_full {
}

.profileEdit_container {
  text-align: center;

}

.profile_pic_container {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  margin-top: 10px;
  max-width: 600px;
}

.profile_pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  vertical-align: middle;

}

.profile_pic_change_div{
  display: inline-block;
  position: absolute;
 

}
.profile_pic_change_btn {
  margin: 40px 0px 0px -100px;
  font-size: 15px;
  background-color: white;
}

.follower_info_container {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 600px;
  margin:0px auto;

  

}
.profileEdit_nickName{
  margin: 10px 0 25px 0;
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}
.follow_info_table {
  margin: 0 auto;
  padding: 0.5%;
  width: 50%;
  height: 40px;
  font-size: 18px;
  font-weight: bold;

}

.follow_info_td_follower {
  text-align: right;
  padding-right: 2%;
  width: 30%;
}

.follow_info_td_following {
  text-align: right;
  padding-right: 2%;
  width: 25%;

}

.follow_info_td_count_follower {
  text-align: left;
  padding-left: 2%;
  width: 20%;

}

.follow_info_td_count_following {
  text-align: left;
  padding-left: 2%;
  width: 25%;
}

.follower_info_button {
  text-align: center;

}